[submodule "backend"]
	path = backend
	url = https://github.com/HarryKrishnan/jwt-auth
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/HarryKrishnan/flutter-pc
	branch = main